@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8f8ff;
  --foreground: #0c0c0c;
}

.dark {
  --background: #0c0c0c;
  --foreground: #f8f8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
