@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers like Chrome */
::-webkit-scrollbar {
    width: 4px; /* Adjust the width as desired */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000; /* Set the background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Add rounded corners to the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the thumb on hover */
  }
